.form-container {
  display: flex;
  flex-direction: column;
  margin: 5px 15px 0px 15px;
}

.button-with-icon {
  mat-icon {
    margin-right: 10px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-dialog-actions {
  height: 105px;
}

mat-dialog-actions {
  margin-left: 0px !important;
}