$toolbar-height: 64px;
$toolbar-height-mobile: 56px;
$toolbar-bottom-height: 64px;
$toolbar-bottom-height-mobile: 56px;
$filterbar-height: 79px;
$filterbar-withdate-height: 111px;

.filter-placeholder {
  height: $filterbar-height;
}

.filter-placeholder-with-date {
  height: $filterbar-withdate-height;
}

.filter-placeholder-none {
  height: 0px;
}

.filter-container {
  position: fixed;
  left: 0;
  right: 0;
  top: $toolbar-height;
  z-index: 1000;
  padding-bottom: 5px;
}

.progressbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.progressbar-top {
  top: $toolbar-height;
}

.progressbar-below-filter {
  top: $toolbar-height + $filterbar-height;
}

.progressbar-below-date-filter {
  // +5px padding
  top: $toolbar-height + $filterbar-withdate-height + 5px;
}

.action-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.paginator {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 56px;
  z-index: 1000;
  width: 100%;
}

.cdk-list-container-full {
  height: calc(100% - #{$toolbar-bottom-height});
}

.cdk-list-container-with-filterbar {
  height: calc(100% - #{$toolbar-bottom-height} - #{$filterbar-height});
}

.cdk-list-container-with-datefilterbar {
  height: calc(100% - #{$toolbar-bottom-height} - #{$filterbar-withdate-height});
}

@media only screen and (max-width: 600px) {
  .filter-container {
    top: $toolbar-height-mobile;
  }

  .progressbar-top {
    top: $toolbar-height-mobile;
  }
  
  .progressbar-below-filter {
    top: $toolbar-height-mobile + $filterbar-height;
  }
  
  .progressbar-below-date-filter {
    // +5px padding
    top: $toolbar-height-mobile + $filterbar-withdate-height + 5px;
  }

  .cdk-list-container-full {
    height: calc(100% - #{$toolbar-bottom-height-mobile});
  }
  
  .cdk-list-container-with-filterbar {
    height: calc(100% - #{$toolbar-bottom-height-mobile} - #{$filterbar-height});
  }
  
  .cdk-list-container-with-datefilterbar {
    height: calc(100% - #{$toolbar-bottom-height-mobile} - #{$filterbar-withdate-height});
  }
}
