<div class="progressbar-placeholder"></div>
<mat-progress-bar *ngIf="loading" class="progressbar" mode="indeterminate" color="accent"></mat-progress-bar>

<div class="filter-container dark-bg-color">
  <app-bill-list-filter [deactivate]="loading"
      [initialSearchText]="initialSearchValue"
      [initialCategoryFilters]="initialCategoryFilters"
      (searchTextChanged)="onSearchInput($event)"
      (categoryFilterChanged)="onCategoryFilterChanged($event)" >
  </app-bill-list-filter>    
</div>

<div class="filter-placeholder"></div>

<div class="action-container" *ngIf="!loading && totalCount === 0">
  Keine Rechnungen verfügbar.
</div>

<cdk-virtual-scroll-viewport class="cdk-container" [itemSize]="pixelHeightPerItem">
  <div *cdkVirtualFor="let bill of billDataSource">
    <div class="cdk-item" routerLink="/bill/{{bill.id}}">
      <app-bill-list-item [bill]="bill"></app-bill-list-item>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<div style="display: none;">
  <mat-paginator
    class="paginator"
    [length]="totalResults"
    [pageSize]="pageSize"
    [pageSizeOptions]="[20, 50, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
