.filter-placeholder {
  height: 79px;
}

.filter-placeholder-with-date {
  height: 111px;
}

.filter-placeholder-none {
  height: 0px;
}

.filter-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 56px;
  z-index: 1000;
  padding-bottom: 5px;
}

.progressbar-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 56px;
  z-index: 1000;
}

.progressbar-below-filter {
  position: fixed;
  left: 0;
  right: 0;
  top: 135px;
  z-index: 1000;
}

.progressbar-below-date-filter {
  position: fixed;
  left: 0;
  right: 0;
  top: 172px;
  z-index: 1000;
}

.action-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.paginator {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 56px;
  z-index: 1000;
  width: 100%;
}

.cdk-container {
  height: calc(100% - 56px - 37px);
}
