.top-placeholder {
  height: 20px;
}

.timerange-container {
  margin-top: 10px;
}

.action-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

mat-divider {
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
}

.spacer {
  height: 5px;
}

.title {
  text-align: center;
}

