<div class="top-placeholder"></div>

<div>

  <!-- Time filter -->
  <div class="timerange-container" *ngIf="availableTimeRange">
    <app-timerange-selection [availableTimeRange]="availableTimeRange"
      (selectionChanged)="timeSelectionChanged($event)">
    </app-timerange-selection>
  </div>
  
  <div class="action-container" *ngIf="availableTimeRange && !statistics && !isLoading">
    Keine Daten vorhanden.
  </div>
  
  <div *ngIf="isLoading" class="action-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <!-- Person filter -->
  
  <!-- ----------------------------------- -->
  <!-- Statistics non total -->
  <!-- ----------------------------------- -->
  <div *ngIf="selectedTimeRange?.dateType != dateType.Total">

    <!-- workingtime total -->
    <div *ngIf="statistics">
      <h3 class="title">Arbeitszeit gesamt:</h3>

      <div class="value">{{ getTimeDisplayString(statistics.totalWorkingTime) }}</div>

      <div class="spacer"></div>

      <mat-divider></mat-divider>

    </div>


    <!-- payed money -->
    <div *ngIf="statistics">
      <h3 class="title">Personalkosten hochgerechnet:</h3>

      <div class="value">{{ statistics.extrapolatedMoneyToPay }} €</div>

      <div class="spacer"></div>

      <mat-divider></mat-divider>

    </div>
  </div>

  <!-- ----------------------------------- -->
  <!-- Statistics total -->
  <!-- ----------------------------------- -->
  <div *ngIf="selectedTimeRange?.dateType == dateType.Total">

    <!-- workingtime total -->
    <div *ngIf="fullStatistics">
      <h3 class="title">Arbeitszeit gesamt:</h3>

      <div class="value">{{ getTimeDisplayString(fullStatistics.totalWorkingTime) }}</div>

      <div class="spacer"></div>

      <mat-divider></mat-divider>

    </div>


    <!-- payed money -->
    <div *ngIf="fullStatistics">
      <h3 class="title">Personalkosten bezahlt:</h3>

      <div class="value">{{ fullStatistics.payedMoney }} €</div>

      <div class="spacer"></div>

      <mat-divider></mat-divider>

    </div>

    <!-- not payed hours -->
    <div *ngIf="fullStatistics">
      <h3 class="title">Stunden noch nicht bezahlt:</h3>

      <div class="value">{{ getTimeDisplayString(fullStatistics.notPayedHours) }}</div>

      <div class="spacer"></div>

      <mat-divider></mat-divider>

    </div>

    <!-- payed money -->
    <div *ngIf="fullStatistics">
      <h3 class="title">Personalkosten noch nicht bezahlt:</h3>

      <div class="value">{{ fullStatistics.notPayedMoney }} €</div>

      <div class="spacer"></div>

      <mat-divider></mat-divider>

    </div>

  </div>

</div>
