<div class="master-container">
  <div matLine>
    <div class="flex-container">
      <span class="margin-left-small">{{ bill.shopName }}</span>
      <span class="price-text">{{ bill.price }} €</span>
    </div>
  </div>
  <div matLine>
    <div class="flex-container">
      <mat-chip-list>
        <mat-chip [ngStyle]="{'background-color': bill.category.color, 'color': bill.category.color == 'white' ? 'black' : 'white' }" selected>
          {{ bill.category.name }} <div *ngIf="bill.subCategory" style="white-space: pre"> {{ '(' + bill.subCategory.name + ')' }}</div>
        </mat-chip>
          <mat-icon *ngIf="bill.isExternal" style="color: limegreen">link</mat-icon>
          <mat-icon *ngIf="bill.fromAnalysis" style="color: limegreen">receipt_long</mat-icon>
      </mat-chip-list>
      <div class="vertical-center">  
        <span class="date-text"> {{ bill.date | date:'dd.MM.YYYY' }} </span>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
