<ng-container>
  <router-outlet></router-outlet>
  <div class="bottom-navigation-placeholder"></div>
  <div class="bottom-navigation">
    <mat-toolbar>  
      <mat-toolbar-row class="toolbar">
        <button mat-icon-button routerLink="bill/list" routerLinkActive #rl1="routerLinkActive">
          <mat-icon [ngClass]="{ 'primary-fg-color': rl1.isActive}">list</mat-icon>
        </button>
        <button mat-icon-button routerLink="bill/create" routerLinkActive #rl2="routerLinkActive">
          <mat-icon [ngClass]="{ 'primary-fg-color': rl2.isActive}">add_circle</mat-icon>
        </button>
        <button mat-icon-button [disabled]="true">
          <mat-icon>donut_small</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</ng-container>
