.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.toolbar {
  display: flex;
  justify-content: space-around;
}

.bottom-navigation-placeholder {
  height: 56px;
}