<div class="master-container">
  <div class="row-1-container">
    <div class="search-container">
      <mat-chip-list> 
        <mat-chip>
          <mat-icon>search</mat-icon>
          <input matInput type="text" 
            class="search-box"
            [readonly]="deactivate"
            #searchTerm
            [value]="inputFieldValue"
            (keyup)="searchBoxKeyup.emit(searchTerm.value)"
            (keydown)="searchBoxKeyDown($event)"
            placeholder="Suche Rechnungen...">
          <button *ngIf="searchTerm.value" matSuffix mat-icon-button
            aria-label="Clear"
            (click)="onClearSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  
  <div class="row-2-container">
    <mat-chip-list #chipList [multiple]="true" [selectable]="true">
      <mat-chip *ngFor="let category of categories; index as i" #chip="matChip" [selectable]="true"  [selected]="category.selected"
        (click)="onChipClick(chip, !chip.selected, i)">
        {{ category.displayName }}
      </mat-chip>
    </mat-chip-list>
  </div>

</div>
