<div class="master-container">
  <div class="search-container">
    <mat-chip-list> 
      <mat-chip>
        <mat-icon>search</mat-icon>
        <input matInput type="text" 
          class="search-box"
          [readonly]="deactivate"
          #searchTerm
          (keyup)="searchBoxKeyup.emit(searchTerm.value)"
          (keydown)="searchBoxKeyDown($event)"
          placeholder="Suche Rechnungen...">
        <button *ngIf="searchTerm.value" matSuffix mat-icon-button
          aria-label="Clear"
          (click)="onClearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
