@import "constants.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.info-snackbar {
  max-width: 100% !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-color: $accent-color !important;
}

.error-snackbar {
  max-width: 100% !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-color: $error-color !important;
}
