@import "themes/custom-theme.scss";

$primary-color: map-get($primary, 800);
$secondary-color: map-get($primary, 200);
$accent-color: map-get($accent, 200);
$error-color: map-get($warn, 800);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

//###################
//#### SNACKBAR #####
//###################

.info-snackbar {
  max-width: 100% !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-color: $accent-color !important;
}

.error-snackbar {
  max-width: 100% !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-color: $error-color !important;
}

//############################
//#### BACKGROUND COLORS #####
//############################

.primary-fg-color {
  color: $primary-color;
}

.primary-bg-color {
  background-color: $primary-color;
}

.secondary-bg-color {
  background-color: $secondary-color;
}

.accent-bg-color {
  background-color: $accent-color;
}

.error-bg-color {
  background-color: $error-color;
}

.dark-bg-color {
  background-color: #303030;
}
