services:
  andaha.gateways.ocelot:
    image: andaha-gateways-ocelot:${TAG}
    build:
      context: src/ApiGateways/Ocelot/Andaha.ApiGateways.Ocelot/
      dockerfile: Dockerfile

  andaha.gateways.ocelot.dapr:
    image: daprio/daprd:edge
    network_mode: "service:andaha.gateways.ocelot"
    depends_on:
      - "andaha.gateways.ocelot"
      - "andaha.dapr.pubsub"

  andaha.services.identity:
    image: andaha-services-identity:${TAG}
    build:
      context: src/Services/Identity/Andaha.Services.Identity/
      dockerfile: Dockerfile
    depends_on: 
      - "andaha.services.identity.db"

  andaha.services.identity.dapr:
    image: "daprio/daprd:edge"
    network_mode: "service:andaha.services.identity"
    depends_on:
      - "andaha.services.identity"
      - "andaha.dapr.pubsub"

  andaha.services.identity.db:
    image: mcr.microsoft.com/mssql/server:2019-latest

  andaha.services.shopping:
    image: andaha-services-shopping:${TAG}
    build:
      context: src/Services/Shopping/Andaha.Services.Shopping/
      dockerfile: Dockerfile
      args:
        PatPlaceholder: ${NUGET_FEED_ACCESS_TOKEN}
    depends_on: 
      - "andaha.services.shopping.db"
      - "andaha.dapr.pubsub"

  andaha.services.shopping.dapr:
    image: "daprio/daprd:edge"
    network_mode: "service:andaha.services.shopping"
    depends_on:
      - "andaha.services.shopping"
      - "andaha.dapr.pubsub"

  andaha.services.shopping.db:
    image: mcr.microsoft.com/mssql/server:2019-latest

  andaha.services.collaboration:
    image: andaha-services-collaboration:${TAG}
    build:
      context: src/Services/Collaboration/Andaha.Services.Collaboration/
      dockerfile: Dockerfile
      args:
        PatPlaceholder: ${NUGET_FEED_ACCESS_TOKEN}
    depends_on: 
      - "andaha.services.collaboration.db"

  andaha.services.collaboration.dapr:
    image: "daprio/daprd:edge"
    network_mode: "service:andaha.services.collaboration"
    depends_on:
      - "andaha.services.collaboration"
      - "andaha.dapr.pubsub"

  andaha.services.collaboration.db:
    image: mcr.microsoft.com/mssql/server:2019-latest   

  andaha.services.budgetplan:
    image: andaha-services-budgetplan:${TAG}
    build:
      context: src/Services/BudgetPlan/Andaha.Services.BudgetPlan/
      dockerfile: Dockerfile
      args:
        PatPlaceholder: ${NUGET_FEED_ACCESS_TOKEN}
    depends_on: 
      - "andaha.services.budgetplan.db"

  andaha.services.budgetplan.dapr:
    image: "daprio/daprd:edge"
    network_mode: "service:andaha.services.budgetplan"
    depends_on:
      - "andaha.services.budgetplan"
      - "andaha.dapr.pubsub"

  andaha.services.budgetplan.db:
    image: mcr.microsoft.com/mssql/server:2019-latest

  dapr.placement:
    image: "daprio/dapr"

  andaha.dapr.pubsub:
    image: redis:7-alpine
    restart: unless-stopped
    networks:
      default:
        aliases:
          - redis

  andaha.services.monolith:
    image: andaha-services-monolith:${TAG}
    build:
      context: .
      dockerfile: src/Services/Monolith/Andaha.Services.Monolith/Dockerfile
      args:
        PatPlaceholder: ${NUGET_FEED_ACCESS_TOKEN}
    depends_on: 
      - "andaha.services.monolith.db"

  andaha.services.monolith.dapr:
    image: "daprio/daprd:edge"
    network_mode: "service:andaha.services.monolith"
    depends_on:
      - "andaha.services.monolith"
      - "andaha.dapr.pubsub"

  andaha.services.monolith.db:
    image: mcr.microsoft.com/mssql/server:2019-latest

  andaha.webapps.servicestatus:
    image: andaha-webapps-servicestatus:${TAG}
    build:
      context: src/WebApps/ServiceStatus/Andaha.WebApps.ServiceStatus
      dockerfile: Dockerfile
  
volumes:
  identitysqlvolume:
    name: identity_sql_volume
  shoppingsqlvolume:
    name: shopping_sql_volume
  collaborationsqlvolume:
    name: collaboration_sql_volume
  monolithsqlvolume:
    name: monolith_sql_volume
