<div class="master-container">
  <mat-card class="mat-card">
    <div class="name-field">
      <mat-form-field appearance="fill">
        <input matInput required [readonly]="!editing || isDefault" [formControl]="categoryForm.controls.name" 
          placeholder="Kategorie">
      </mat-form-field>
    </div>
  
    <div class="color-field">
      <mat-form-field appearance="fill">
        <mat-select-trigger *ngIf="selectedColor">
          <app-color-item [color]="selectedColor"></app-color-item>
        </mat-select-trigger>
        <mat-select [(ngModel)]="selectedColor" name="color" [formControl]="categoryForm.controls.color">
          <mat-option *ngFor="let color of colors" [value]="color">
            <app-color-item [color]="color"></app-color-item>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-icon-button class="delete-button dark-bg-color" [disabled]="!editing  || isDefault">
      <mat-icon (click)="onDeleteClick()">delete</mat-icon>
    </button>
  </mat-card>

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div
        cdkDrag
        class="drag-item indentation"
        *ngFor="let subCategoryForm of subCategoryForms.controls; index as i"
        [cdkDragDisabled]="!editing">
      <mat-card  class="mat-card">
        <div class="name-field">
          <mat-form-field appearance="fill">
            <input matInput required [readonly]="!editing" [formControl]="subCategoryForm.controls.name" 
              placeholder="Unterkategorie">
          </mat-form-field>
        </div>
        <button mat-icon-button class="delete-button dark-bg-color" [disabled]="!editing">
          <mat-icon (click)="onDeleteSubCategoryClick(i)">delete</mat-icon>
        </button>
      </mat-card>
    </div>

    <div class="add-button" *ngIf="!isDefault">
      <button mat-icon-button [disabled]="!editing" (click)="onAddSubCategoryClick()">
        <mat-icon>add_circle</mat-icon>
        Unterkategorie
      </button>
    </div>
  </div>
  
</div>
