.help-text {
  padding: 10px 5px 0px 5px;
}

.action-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  & mat-icon {
    height: 35px;
    width: 35px;
    margin-right: 0px;
  }

  & .mat-icon {
    line-height: normal;
  }
}

.progressbar-placeholder {
  height: 4px;
}

.progressbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 106px;
  z-index: 1000;
}

.bottom-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 56px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
}

.button-placeholder {
  height: 50px;
}

button {
  mat-icon {
    margin-right: 10px;
  }
}

.drag-item {
  background-color: #303030;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
