<div *ngIf="isLoading" class="action-container">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<div class="help-text">
  Kategorien können per drag and drop verschoben werden um die Anzeigereihenfolge zu ändern.
</div>

<div *ngIf="!isLoading">
  <div style="margin: 5px 0px;" cdkDropList (cdkDropListDropped)="drop($event)">
    <div
        cdkDrag class="drag-item"
        *ngFor="let formGroup of formGroups; index as i"
        [cdkDragDisabled]="!isEditing">
      <app-category-item
          [editing]="isEditing"
          [isDefault]="isDefaultCategory(i)"
          [categoryForm]="formGroup"
          (deleteCategory)="onDeleteCategory(i)">
      </app-category-item>
    </div>
  </div>
  
  <div class="add-button">
    <button mat-icon-button [disabled]="!isEditing" (click)="onAddCategoryClick()">
      <mat-icon style="font-size: 35px">add_circle</mat-icon>
      Kategorie
    </button>
  </div>

  <div class="progressbar-placeholder"></div>

  <mat-progress-bar *ngIf="isSaving" class="progressbar" mode="indeterminate" color="accent"></mat-progress-bar>
  
  <div class="button-placeholder"></div>
  
  <div class="bottom-button">
    <div *ngIf="!isEditing" style="flex: 1">
      <button mat-raised-button color="primary" class="button-style" (click)="onEditClick()">
        <mat-icon>edit</mat-icon><span>Bearbeiten</span>
      </button>
    </div>
    <div *ngIf="isEditing" style="display: flex; flex-direction: row; width: 100%">
      <button mat-raised-button color="secondary" class="button-style" (click)="onCancelClick()">
        <mat-icon>close</mat-icon><span>Abbrechen</span>
      </button>
      <button mat-raised-button color="primary" class="button-style" 
          [disabled]="!allCategoriesValid || isSaving" (click)="onSaveClick()">
        <mat-icon>save</mat-icon><span>Speichern</span>
      </button>
    </div>
  </div>
</div>
