.action-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  & mat-icon {
    height: 35px;
    width: 35px;
    margin-right: 0px;
  }

  & .mat-icon {
    line-height: normal;
  }
}

.bottom-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 56px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
}

.button-placeholder {
  height: 50px;
}

button {
  mat-icon {
    margin-right: 10px;
  }
}
