.back-button {
  margin-left: 10px;
  margin-top: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 5px 15px 0px 15px;
}

.name-field {
  flex: 1;
  margin-right: 5px;

  mat-form-field {
    width: 100% !important;
    
    & ::ng-deep .mat-form-field-infix {
      width: 100% !important;
    }

    & ::ng-deep .mat-form-field-flex {
      padding-top: 0px !important;
    }
    
    & ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
    
    & ::ng-deep .mat-form-field-underline {
      bottom: 0px;
    }
  }
}


.mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 20px);
  padding: 10px;
  height: 40px;
  margin-right: 15px;
}

.indentation {
  margin-left: 25px;
  margin-top: 2px;
}

/*
Button styles
*/

.sub-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;

  & mat-icon {
    height: 25px;
    width: 25px;
    margin-right: 0px;
  }

  & .mat-icon {
    font-size: 25px;
  }
}

.sub-delete-button {
  color: red;
}

.progressbar-placeholder {
  height: 4px;
}

.progressbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 157px;
  z-index: 1000;
}

.button-placeholder {
  height: 50px;
}

.floating-button {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
}

.add-subcategory-button {
  bottom: 158px;
}

.edit-buttons {
  bottom: 107px;
}

.delete-button {
  bottom: 56px;
}

.button-with-icon {
  mat-icon {
    margin-right: 10px;
  }
}

/*
Drag and drop styles
*/

.drag-item {
  background-color: #303030;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}