.master-container {
  display: flex;
  justify-content: center;
}

.list-item {
  padding: 5px 8px 0px 8px;
}

.mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 20px);
  padding: 10px;
  height: 36px;
}

.truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}