.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.toolbar {
  display: flex;
  justify-content: space-around;
}

.bottom-navigation-placeholder {
  height: 56px;
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  height: 15px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-icon-button {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}
