<ng-container>
  <router-outlet></router-outlet>
  <div class="bottom-navigation-placeholder"></div>
  <div class="bottom-navigation">
    <mat-toolbar>  
      <mat-toolbar-row class="toolbar">
        <div class="menu-item">
          <button mat-icon-button routerLink="connections" routerLinkActive #rl1="routerLinkActive" class="small-icon-button">
            <mat-icon [ngClass]="{ 'primary-fg-color': rl1.isActive}">link</mat-icon>
          </button>
          <div class="menu-title" [ngClass]="{ 'primary-fg-color': rl1.isActive}">Verbindungen</div>
        </div>
        <div class="menu-item">
          <button mat-icon-button routerLink="categories" routerLinkActive #rl2="routerLinkActive" class="small-icon-button">
            <mat-icon [ngClass]="{ 'primary-fg-color': rl2.isActive}">category</mat-icon>
          </button>
          <div class="menu-title" [ngClass]="{ 'primary-fg-color': rl2.isActive}">Kategorien</div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</ng-container>