<mat-list-item>
  <div matLine>
    <div class="flex-container">
      <span class="margin-left-small">{{ bill.shopName }}</span>
      <span class="price-text">{{ bill.price }} €</span>
    </div>
  </div>
  <div matLine>
    <div class="flex-container">
      <mat-chip-list>
        <mat-chip [ngStyle]="{'background-color': bill.category.color}" selected> {{ bill.category.name }} </mat-chip>
      </mat-chip-list>
      <div class="vertical-center">  
        <span class="date-text"> {{ bill.date | date:'fullDate' }} </span>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-list-item>