<div class="nav-wrapper">
  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/">
      <h2>Andaha</h2>
    </button>
    <span class="spacer"></span>
    <span class="sync-info" *ngIf="syncActive"><mat-icon>sync</mat-icon></span>
    <span class="user-info">{{ userName }}</span>
    <button mat-icon-button [matMenuTriggerFor]="userPopup">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userPopup="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Ausloggen</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="toolbar-placeholder"></div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>
      <mat-nav-list style="flex: 1;">
        <a mat-list-item routerLink="/" (click)="sidenav.toggle()">
          <mat-icon class="menu-icon">shopping_cart</mat-icon>Rechnungen
        </a>
        <a mat-list-item routerLink="/settings" (click)="sidenav.toggle()">
          <mat-icon class="menu-icon">settings</mat-icon>Einstellungen
        </a>
      </mat-nav-list>

      <div>
        <div style="padding: 5px 15px">
          <a class="text" appText textInfo routerLink="/agb" (click)="sidenav.toggle()">AGB</a> - 
          <a class="text" appText textInfo routerLink="/data-protection" (click)="sidenav.toggle()">Datenschutzerklärung</a>
          <br>
          <a class="text" appText textInfo routerLink="/user-data" (click)="sidenav.toggle()">Benutzerdaten</a>
        </div>
      </div>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="wait-login-container" *ngIf="!isLoggedIn">
        <h2>Warten auf Login...</h2>
      </div>
      <router-outlet *ngIf="isLoggedIn"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
