<div>
  <mat-toolbar class="toolbar" color="primary">
    <!--
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    -->
    <button mat-button routerLink="/">
      <h2>Andaha</h2>
    </button>
    <span class="spacer"></span>
    <span class="user-info">{{ userName }}</span>
    <button mat-icon-button routerLink="/user">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="toolbar-placeholder"></div>

<div class="wait-login-container" *ngIf="!isLoggedIn">
  <h2>Warten auf Login...</h2>
</div>
<router-outlet *ngIf="isLoggedIn"></router-outlet>
