<button mat-icon-button routerLink="" class="back-button">
  <mat-icon>arrow_back</mat-icon>
</button>

<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-container">

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Stundensatz</mat-label>
        <input matInput formControlName="hourlyRate" type="number" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Notizen</mat-label>
        <textarea matInput formControlName="notes"></textarea>
      </mat-form-field>
    </div>

    <div *ngIf="!isSaving" class="progressbar-placeholder"></div>

    <mat-progress-bar *ngIf="isSaving" class="progressbar" mode="indeterminate" color="accent"></mat-progress-bar>

    <div class="button-placeholder"></div>

    <div class="bottom-button">
      <div style="flex: 1">
        <button mat-raised-button color="primary" class="button-style" [disabled]="!form.valid">
          <mat-icon>save</mat-icon><span>Speichern</span>
        </button>
      </div>
    </div>
  </form>
</div>