<div class="filter-container dark-bg-color">
  <app-bill-list-filter [deactivate]="loading" (triggerLoading)="onSearchInput($event)">
  </app-bill-list-filter>    
</div>

<div class="filter-placeholder"></div>

<div *ngIf="loading && !totalCount" class="action-container">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<div class="action-container" *ngIf="!loading && totalCount && totalCount === 0">
  Keine Rechnungen verfügbar.
</div>

<cdk-virtual-scroll-viewport class="cdk-container" [itemSize]="pixelHeightPerItem">
  <div *cdkVirtualFor="let bill of billDataSource">
    <div class="cdk-item">
      <app-bill-list-item [bill]="bill"></app-bill-list-item>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<div style="display: none;">
  <mat-paginator
    class="paginator"
    [length]="totalResults"
    [pageSize]="pageSize"
    [pageSizeOptions]="[20, 50, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>