<div class="top-buttons">
  <div style="flex: 1">
    <button mat-raised-button color="secondary" class="button-style" routerLink="/">Zurück</button>
  </div>
  <div style="flex: 1">
    <button mat-raised-button color="primary" class="button-style" routerLink="/bill/create">Rechnung hinzufügen</button>
  </div>
</div>

<div class="button-placeholder"></div>

<div *ngIf="loading && !bills" class="action-container">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<div class="action-container" *ngIf="!loading && bills && bills.length == 0">
  Noch keine Rechnungen verfügbar.
</div>

<div *ngIf="!loading && bills && bills.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let bill of bills">
      <div matLine>
        <div class="flex-container">
          <span class="margin-left-small">{{ bill.shopName }}</span>
          <span class="price-text">{{ bill.price }} €</span>
        </div>
      </div>
      <div matLine>
        <div class="flex-container">
          <mat-chip-list>
            <mat-chip [ngStyle]="{'background-color': bill.category.color}" selected> {{ bill.category.name }} </mat-chip>
          </mat-chip-list>
          <div class="vertical-center">  
            <span class="date-text"> {{ bill.date | date:'fullDate' }} </span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<div class="paginator-placeholder"></div>

<mat-paginator
  class="paginator"
  [length]="totalResults"
  [pageSize]="pageSize"
  [pageSizeOptions]="[20, 50, 100]"
  aria-label="Select page"
  (page)="onPageChange($event)">
</mat-paginator>