<div class="top-buttons">
  <div style="flex: 1">
    <button mat-raised-button color="secondary" class="button-style" routerLink="/">Zurück</button>
  </div>
  <div style="flex: 1">
    <button mat-raised-button color="primary" class="button-style" routerLink="/bill/create">Rechnung hinzufügen</button>
  </div>
</div>

<div class="button-placeholder"></div>

<div class="filter-container dark-bg-color">
  <app-bill-list-filter [deactivate]="loading" (triggerLoading)="onSearchInput($event)">
  </app-bill-list-filter>    
</div>

<div class="filter-placeholder"></div>

<div *ngIf="loading" class="action-container">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<div class="action-container" *ngIf="!loading && bills && bills.length == 0">
  Keine Rechnungen verfügbar.
</div>

<div *ngIf="!loading && bills && bills.length > 0">
  <mat-list>
    <div *ngFor="let bill of bills">
      <app-bill-list-item [bill]="bill"></app-bill-list-item>
    </div>
  </mat-list>
</div>

<div class="paginator-placeholder"></div>

<mat-paginator
  class="paginator"
  [length]="totalResults"
  [pageSize]="pageSize"
  [pageSizeOptions]="[20, 50, 100]"
  aria-label="Select page"
  (page)="onPageChange($event)">
</mat-paginator>