<div>
  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <div class="form-container">
      <div class="image">
        <app-bill-image [editing]="true" [saving]="false" [onlyUpload]="true"
            (imageSelected)="onImageSelected($event)">
        </app-bill-image>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Shopname</mat-label>
        <input matInput formControlName="shopName" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Notizen</mat-label>
        <textarea matInput formControlName="notes"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Preis</mat-label>
        <input matInput formControlName="price" type="number" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Kategorie</mat-label>
        <mat-select formControlName="category" required (selectionChange)="categorySelectionChanged($event)">
          <mat-option *ngFor="let category of billCategories" [value]="category">
            {{category?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="billSubCategories && billSubCategories.length > 0">
        <mat-label>Unterkategorie</mat-label>
        <mat-select formControlName="subCategory">
          <mat-option></mat-option>
          <mat-option *ngFor="let subCategory of billSubCategories" [value]="subCategory">
            {{subCategory?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>      
    </div>

    <div class="button-placeholder"></div>

    <div class="bottom-button">
      <div style="flex: 1">
        <button mat-raised-button color="primary" class="button-style" [disabled]="!form.valid">
          <mat-icon>save</mat-icon><span>Speichern</span>
        </button>
      </div>
    </div>
  </form>
</div>