<app-dialog>
  <mat-dialog-content>    

    <pinch-zoom *ngIf="imageSrc" style="width: 100%;">
      <img [src]="imageSrc" /> 
    </pinch-zoom>

    <div *ngIf="isLoading" class="action-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div style="flex: 1">
      <mat-progress-bar *ngIf="isDeleting" mode="indeterminate" color="accent"></mat-progress-bar>

      <button mat-raised-button color="primary" class="button-style" [disabled]="isDeleting || isLoading || !imageSrc"
          (click)="onDeleteImageClick()">
        <mat-icon>delete</mat-icon><span>Löschen</span>
      </button>
    </div>
  </mat-dialog-actions>
</app-dialog>
