<ng-container>
  <router-outlet></router-outlet>
  <div class="bottom-navigation-placeholder"></div>
  <div class="bottom-navigation">
    <mat-toolbar>  
      <mat-toolbar-row class="toolbar">
        <div class="menu-item">
          <button mat-icon-button routerLink="work/person/list" routerLinkActive #rl1="routerLinkActive" class="small-icon-button">
            <mat-icon [ngClass]="{ 'primary-fg-color': rl1.isActive}">list</mat-icon>
          </button>
          <div class="menu-title" [ngClass]="{ 'primary-fg-color': rl1.isActive}">Personen</div>
        </div>
        <!--
        <div class="menu-item">
          <button mat-icon-button routerLink="bill/create" routerLinkActive #rl2="routerLinkActive" class="small-icon-button">
            <mat-icon [ngClass]="{ 'primary-fg-color': rl2.isActive}">add_circle</mat-icon>
          </button>
          <div class="menu-title" [ngClass]="{ 'primary-fg-color': rl2.isActive}">Hinzufügen</div>
        </div>
        -->
        <div class="menu-item">
          <button mat-icon-button routerLinkActive #rl3="routerLinkActive" class="small-icon-button" disabled>
            <mat-icon [ngClass]="{ 'primary-fg-color': rl3.isActive}">donut_small</mat-icon>
          </button>
          <div class="menu-title" [ngClass]="{ 'primary-fg-color': rl3.isActive}">Statistik</div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</ng-container>
