<button mat-icon-button routerLink="/work/person" class="back-button">
  <mat-icon>arrow_back</mat-icon>
</button>

<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-container">

      <mat-form-field appearance="fill">
        <mat-label>Personen</mat-label>
        <mat-select multiple [formControl]="form.controls.selectedPersons" (openedChange)="onOpenChange(multiUserSearch)">
          <mat-select-trigger>
            {{ getPersonDisplayText() }}
          </mat-select-trigger>
          <input
            class="person-search-input"
            #multiUserSearch
            type="text"
            autocomplete="off"
            matInput
            placeholder="Suche nach Personen..."
            (input)="onInputChange($event)"/>
          <mat-option *ngFor="let person of filteredPersons" [value]="person">{{ person.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <app-date-picker-form-field
        [control]="form.controls.date"
        label="Datum">
      </app-date-picker-form-field>

      <app-time-picker-form-field
        label="Startzeit"
        [defaultTime]="getNgxTime(form.controls.fromTime)"
        (timeChanged)="setFormTime(form.controls.fromTime, $event)">
      </app-time-picker-form-field>

      <app-time-picker-form-field
        label="Endzeit"
        [defaultTime]="getNgxTime(form.controls.untilTime)"
        (timeChanged)="setFormTime(form.controls.untilTime, $event)">
      </app-time-picker-form-field>

      <app-time-picker-form-field
        label="Pause"
        [defaultTime]="getNgxTime(form.controls.break)"
        (timeChanged)="setFormTime(form.controls.break, $event)">
      </app-time-picker-form-field>

      <div class="working-time-info">
        <mat-label>Arbeitszeit netto: {{ getWorkingTime() }}</mat-label>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Notizen</mat-label>
        <textarea matInput formControlName="notes"></textarea>
      </mat-form-field>

    </div>

    <div *ngIf="!isSaving" class="progressbar-placeholder"></div>

    <mat-progress-bar *ngIf="isSaving" class="progressbar" mode="indeterminate" color="accent"></mat-progress-bar>

    <div class="button-placeholder"></div>

    <div class="bottom-button">
      <div style="flex: 1">
        <button mat-raised-button color="primary" class="button-style" [disabled]="!form.valid">
          <mat-icon>save</mat-icon><span>Speichern</span>
        </button>
      </div>
    </div>

  </form>
</div>