<!--
<div style="display: block;">
  <canvas baseChart
          chartType="pie"
          [data]="chartData"
          [colors]="chartColors"
          [labels]="chartLabels"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [legend]="chartLegend">
  </canvas>
</div>
-->

<div>
  <canvas
    baseChart
    chartType="pie"
    [data]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [colors]="chartColors"
    [legend]="true">
  </canvas>
</div>
